/* Meine Schriftarten */
@import url(bariol-font.css);


/* Allgemeines Aussehen der Seite, 
das Farbschema habe ich mir von hackthebox gemopst.
*/
:root {
    --weiß: #eceff4;
    --weißtr: #eceff480;
    --grau: #a4b1cd;
    --grautr: #a4b1cd80;
    --blau: #141d2b;
    --blautr: #141d2b80;
    --hellblau: #1a2332;
    --hellblautr: #1a233280;
    --dunkelblau: #111927;
    --dunkelblautr: #11192780;
    --highlight: #212a39;
    --highlighttr: #212a3980;
    --grün: #9fef00;
    --grüntr: #9fef0080;
    --normal: bariolregular, Arial, Helvetica, sans-serif;
    --leicht: bariollight, Arial, Helvetica, sans-serif;
    --fett: bariolbold, Arial, Helvetica, sans-serif;
    --kursiv: bariolitalic, Arial, Helvetica, sans-serif;
    --titelschatten: 0px 1px 0px #609100, 0px 2px 0px #609100, 0px 3px 0px #609100, 0px 4px 0px #609100, 0px 5px 4px #000000;
    
}

body {
    background-color: var(--blau);
    color: var(--weiß);
    font-family: var(--normal), Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #000000;
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

hr {
    max-width: 95%;
    border-top: 1px dotted var(--grün);
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 12px;
    margin-bottom: 12px;
    box-shadow: var(--boxschatten);
}

::selection {
    color: var(--dunkelblau);
    background-color: var(--grün);
    text-shadow: none;
}

a {
    color: var(--grau);
    text-decoration-line: none;
    display: block;
}

a:hover {
    color: var(--weiß);
    font-family: var(--fett), Arial, Helvetica, sans-serif;
    text-decoration-line: underline;
    text-decoration-color: var(--grün);  
    text-decoration-style: wavy;
    animation: fade 0.8s;
}

/* Schriftarten-Stile */ 
b, strong {
    font-family: var(--fett);
}

i, em {
    font-family: var(--kursiv);
}

p.titel {
    font-size: 22px;
    font-family: var(--fett);
    display: inline-block;
    vertical-align: middle;
} 

p.dreideh {
    color: var(--grün);
    font-family: var(--fett);
    font-size: 32px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    text-shadow: var(--titelschatten);
}

p.kursiv {
    color: var(--lila);
    font-style: italic;
    font-weight: bold;
    display: inline;
    text-shadow: var(--textschatten);
}

p.fett {
    font-family: var(--handschrift);
    font-weight: bold;
    letter-spacing: 1px;
    display: inline;
}

p.unterstrichen {
    text-decoration: underline var(--grün);
    display: inline;
}


/* Container-Spezifische Stile */
div.site {
    display: flex;
    justify-content: center;
}

div.bookmarks {
    display: block;
    margin-top: 220px;
    margin-bottom: 0px;
    position: fixed;
    width: 800px;
    min-width: 310px;
}

div.bookmark {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 5px;
    background: var(--hellblautr);
    backdrop-filter: blur(5px);
    width: 192px;
    border: 1px solid var(--dunkelblau);
    border-radius: 7px;
    box-shadow: 1px 1px 5px 0px #0000005b;
    vertical-align: top;
    text-align: center;
    animation: onload 1.0s;
}

div.bookmark:hover {
    border: 1px solid var(--highlight);
}

div.bookmark:first-child {
    margin-left: -15px;
}

div.bookmark:last-child {
    margin-right: -20px;
}

div.header {
    background-color: var(--dunkelblautr);
    color: var(--weiß);
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -5px;
    margin-right: -5px;
    border: none;
    border-radius: 7px 7px 0px 0px;
    font-family: var(--fett);
    text-align: center;
    cursor: default;
    padding-bottom: 5px;
}

div.titel {
    transform: rotate(-5deg);
    float:right;
    margin-top: -10px;
    padding-top: 10px;
    padding-left: 5px;
    text-align: center;
}

div.tags {
    margin-top: 10px;
    margin-bottom: -10px;
    text-align: center;
}

div.links {
    text-align: center;
    word-spacing: 8px;
}


/* Suchleiste */
div.suchbox {
    background: var(--hellblautr);
    backdrop-filter: blur(5px);
    display: block;
    margin-top: 150px;
    margin-bottom: 0px;
    margin-right: -2px;
    position: fixed;
    width: 802px;
    min-width: 310px;
    border: 1px solid var(--dunkelblau);
    border-radius: 7px;
    box-shadow: 1px 1px 5px 0px #0000005b;
    padding: 15px;
    animation: onload 0.8s;
}

div.suchbox:hover {
    border: 1px solid var(--highlight);
}

form#suchform {
    margin-left: -5px;
    margin-right: -5px;
}

input.suche {
    background: var(--hellblautr);
    backdrop-filter: blur(5px);
    color: var(--grün);
    font-size: 20px;
    display: block;
    border-top: none;
    border-bottom: 1px solid var(--dunkelblau);
    border-left: none;
    border-right: none;
    border-radius: 0;
    outline: 0;
    box-shadow: none;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

input.suche:hover, input.suche:active, input.suche:focus {
    border-top: none;
    border-bottom: 1px solid var(--grün);
    border-left: none;
    border-right: none;
}

input::placeholder {
    color: var(--grau);
    font-family: var(--kursiv), Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 12px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px #000000;
}

/* Mobilgedöns */
@media all and (max-width: 810px) {
    body {
        background-image: url('../img/background.png');
        background-repeat: repeat;
        overflow: scroll;
        line-height: 30px;
    }

    canvas { 
        opacity: 0;
        visibility: hidden;
        width: 1px;
        height: 1px;
    }

    div.side {
        display: block;
    }
    
    div.bookmarks {
        margin-top: 5px;
        margin-left: -10px;
        width: 95%;
        position: relative;
        padding-top: 50px;
    }

    div.bookmark {
        display: block;
        margin-bottom: 15px;
        width: 100%;
        font-size: 28px;
    }

    div.bookmark:first-child {
        margin-left: 0px;
    }

    div.bookmark:last-child {
        margin-right: 0px;
    }

    div.suchbox {
        margin-top: 0px;
        padding: 5px;
        width: 100%;
        top: 0;
        z-index: 9999;
    }

    input.suche {
        font-size: 30px;
    }

    input::placeholder {
        font-size: 14px;
    }
}


/* Animationen */
@keyframes onload {
    0% { transform: scale(0.1); opacity: 0; filter: blur(10px); }
    50% { transform: scale(1.1); opacity: 0.5; filter: blur(5px); }
    100% { transform: scale(1); opacity: 1; filter: blur(0px); }
}

@keyframes fade {
    0% { color: var(--grau); }
    100% { color: var(--weiß); }
}
